@{
    ViewBag.Title = "About";
}
<h2>s</h2>
<h3>This is a test application</h3>

<p>Thank you for vising this page. I hope to get an internship with your company.</p>
<p>Daniel</p>

<p>P.S. I am sorry about the design, I've never worked before with C# and front-end stuff.</p>
