@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>Contact me</h3>

<address>
   Tallinn University of Technology student<br />
    Akadeemia tee, 7/1, 506A<br />
    <abbr title="Phone">P:</abbr>
    +372 5878 2597
</address>

<address>
    <strong>E-mail:</strong>   <a href="mailto:basania1996@gmail.com">basania1996@gmail.com</a><br />
</address>