@{
    ViewBag.Title = "Welcome to the Arvato Shop";
}

<div class="jumbotron" align="center">
    <h1>Hi,</h1>
    <p class="lead"> Identify yourself to see the shopping bag just now</p>
    <div
    <input id="Text1" type="text" />
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

